@import "~bootstrap/scss/bootstrap.scss";

.p1{
    display: flex;
    justify-content: center;
    color: rgb(105, 94, 94);
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: hsl(0, 12%, 93%);
}
.div-father{
    margin-top: 25%;
}
.input-important{
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family:'Courier New', Courier, monospace;
}
.ul-list-two{
    display: flex;
    justify-content: center;
}
.ul-list{
    display: flex;
    justify-content: center;
}
.li-one{
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}
.li-two{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
